* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(199, 176, 231);
}
body img {
  width: 250px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  font-weight: bold;
}
header div a img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid purple;
}
header nav ul li {
  list-style-type: none;
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  margin: 10px;
  color: purple;
  font-size: 1.5rem;
  font-family: "Times New Roman";
}
header nav ul li a:hover {
  color: violet;
}
header .boton {
  background-color: rgb(187, 63, 187);
  color: #FAFAFA;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
}
header .boton:hover {
  background-color: violet;
  color: #FAFAFA;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 130, 238, 0.288);
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 10px;
}
main div img {
  max-width: 100%;
  border-radius: 5px;
}
main div p {
  margin: 10px 0;
  text-decoration: solid;
  text-align: center;
}
main div button {
  background-color: rgb(187, 63, 187);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
main div button:hover {
  background-color: violet;
}

footer {
  background-color: rgba(148, 43, 148, 0.5);
  color: #fff;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Sans";
}
footer div {
  display: flex;
  max-width: 1200px;
}
footer div div {
  margin-inline: 5%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
footer div div p {
  font-size: 1rem;
  max-width: 100%;
}
footer div div p i {
  width: 1rem;
}
footer div form {
  margin-inline: 5%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div form div .form-check-input {
  background-color: violet;
  color: rgb(187, 63, 187);
}
footer div form div .form-check-input:checked {
  background-color: rgb(187, 63, 187);
  border-color: violet;
}
footer div form .btn {
  background-color: rgb(187, 63, 187);
}
footer div form .btn:hover {
  background-color: violet;
}
footer div form .btn:active {
  background: violet;
}
footer div h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(105, 5, 105);
  text-decoration: underline;
}
footer div a {
  color: rgb(109, 29, 109);
  text-decoration: none;
  margin-right: 0px;
  font-size: 1.5rem;
}
footer div a:hover {
  color: violet;
}
footer div a i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  header {
    align-items: center;
  }
  header ul {
    padding-left: 0;
  }
  .contenedor {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  header {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  header button {
    display: none;
  }
  body section h1 {
    font-size: inherit;
  }
  body section p {
    font-size: inherit;
  }
  body section h2 {
    font-size: inherit;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  footer div {
    flex-direction: column;
    text-align: center;
  }
}
body section {
  text-align: center;
  width: 100%;
}
body section h1 {
  color: rgb(158, 54, 158);
  text-transform: uppercase;
  border: solid;
  margin: 2%;
}
body section h1 p {
  color: #252222;
  width: 80%;
}
body section h2 {
  color: rgb(163, 26, 163);
  font-family: "Franklin Gothic Medium";
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
