@import "../var/variables";


footer{
    background-color: rgba(148, 43, 148, 0.5);
    color: #fff;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    font-family: nth($list: $fuentes, $n:1 );

    div{
        display: flex;
        max-width: 1200px;

        
        div{
            margin-inline: 5%;
            display: flex;
            flex-direction: column;
            padding: 0;
            p{

                font-size: 1rem;
                max-width: 100%;
                i{

                    width: 1rem;
                    
                }
            }
        }
        form{
            margin-inline: 5%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                .form-check-input{
                    background-color: $boton-secundario;
                    color: $boton-primario;
                    &:checked{background-color: $boton-primario; border-color: $boton-secundario;
                    }
                }
            }
            .btn{
                background-color: $boton-primario;
                &:hover{background-color: $boton-secundario;}
                &:active{background: $boton-secundario;}
            }

        }

            h3{
                font-size: 1.5rem;
                margin-bottom: 10px;
                color: rgb(105, 5, 105);
                text-decoration: underline;
            }
            a{
                color: rgb(109, 29, 109);
                text-decoration: none;
                margin-right: 0px;
                font-size: 1.5rem;
                &:hover{color: violet;}


                i{
                    margin-right: 10px;
                
                }
            }
        
    } 
}