//Variables
@import "../var/variables";

header{
    @include flex(row, space-between, center);

margin-top: 20px;
margin-left: 3%;
margin-right: 3%;
font-weight: bold;
    div{
        a{
            img{
            width: 150px;
            border-radius: 50%;
            border: 2px solid purple; 
            }
        }
        
    }
    nav{
        ul{
            li{
            list-style-type: none;
            display: inline-block;
                a{
                text-decoration: none;
                margin: 10px;
                color: map-get($map: $nav-pages, $key:color-primario );
                font-size: 1.5rem;
                font-family: nth($list: $fuentes, $n:3 );
                    &:hover{
                    color: map-get($map: $nav-pages, $key: color-secundario );
                    }
                }
            }
        }
    }
    .boton{
    background-color: $boton-primario;
    color: #FAFAFA;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
        &:hover{
        background-color: $boton-secundario;
        color: #FAFAFA;
        cursor: pointer;
        }
    }
}