@import "../var/variables";
*{
    margin: 0;
    padding: 0;
}
body    { 
    font-family: 'Roboto', sans-serif;
    background-color: rgb(199, 176, 231);
    img {
    width: 250px;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);cursor: pointer;
        transition: 1.5s;
    }
    }
}
